################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MojahCo/bin/Debug/net6.0
/MojahCo/obj
