
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="text-center">
    <section class="section parallax-container" data-parallax-img="/images/parallax-2.jpg">
        <div class="parallax-content parallax-header parallax-light">
            <div class="parallax-header__inner">
                <div class="parallax-header__content">
                    <div class="container">
                        <div class="row justify-content-sm-center">
                            <div class="col-md-10 col-xl-8">
                                <h2 class="heading-decorated">About</h2>
                                <p class="heading-6">During all this time we stayed true to one and the same principles of business operations.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>


<!-- Construction Management-->
<section class="section-md bg-default">
    <div class="container">
        <div class="row justify-content-md-center flex-xl-row-reverse row-30 row-md-60">
            <div class="col-md-11 col-lg-10 col-xl-6">
                <h4 class="heading-decorated">About Us</h4>
                <p class="heading-6">
                    Mojah Company is considered one of the leading companies in this field, as it helps customers in the industrial, commercial and service fields to protect their employees and facilities from accidents and disasters that may result from technical and professional errors, by applying tight periodic maintenance programs that take into account the ideal operation of these facilities and equipment according to international specifications and in line with the vision of the Kingdom 2030 for a safe and sound Saudi society.

                </p>

            </div>
            <div class="col-md-11 col-lg-10 col-xl-6">
                <img src="~/images/service-2-652x491.jpg" alt="" width="652" height="491" />
            </div>
        </div>
    </div>
</section>



<!-- Our History-->
<section class="section-md bg-gray-lighter">
    <div class="container">
        <div class="row justify-content-md-center row-30 row-md-50">
            <div class="col-md-11 col-lg-10 col-xl-6">
                <h4 class="heading-decorated">
                    Mojah VISION
                </h4>
                <p class="heading-6 text-width-1">
                    Our vision through the Kingdom's vision 2030 The vision of the wave operation and maintenance company was launched through the Kingdom's vision 2030 to build and develop performance through its participation in achieving safety in government facilities, private sector facilities and individuals in order to achieve the highest levels of quality and effectiveness, and to protect individuals and facilities from accidents, disasters and occupational hazards. Mojah Operation and Maintenance Company is one of the largest Mojah Trading and Services Co., Ltd., where it specializes in technical (electromechanical) maintenance work in several areas, including but not limited to the installation and maintenance of elevators and escalators, maintenance of lifting and loading equipment such as cranes, forklifts, winches, scaffolding, pneumatic compressors Steam boilers, electrical connections, lighting systems, etc.,

                </p>
                <p>

                </p>

                @*<a class="button button-primary" href="about.html">Read more</a>*@
            </div>
            <div class="col-md-11 col-lg-10 col-xl-6">
                <img src="~/images/home-1-652x491.jpg" alt="" width="652" height="491" />
            </div>
        </div>
    </div>
</section>
